


<h1>Hello, Rails!</h1>
<%= link_to "tuto_railsdebutant", commands_path %> <!-- La méthode link_to est l’un des “helpers” (assistants) fournis par Rails. Il crée un hyperlien à partir du texte à afficher vers la destination, dans ce cas le chemin des commands. -->
<p>Find me in app/views/home/index.html.erb</p>